<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQDfCPQGK2Bx7dfRnro9tN8Lht3FEES8U</string>
	<key>GCM_SENDER_ID</key>
	<string>800982269662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Food-Delivery-App</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-450c3</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-450c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800982269662:ios:2f68ca1956df3a9c4c8c4f</string>
</dict>
</plist>